<div class="row">
  <div class="d-float m-3">
    <img [src]="PhotoFilePath" height="180px;" width="150;">
  </div>
  <div class="my-3">
    <table>
      <tr>
        <th>Title</th>
        <td>{{product.title}}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{product.description}}</td>
      </tr>
      <tr>
        <th>Category</th>
        <td>{{product.category}}</td>
      </tr>
      <tr>
        <th>Price</th>
        <td>{{product.price}}</td>
      </tr>
    </table>
  </div>
</div>
